<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="WindTurbineStreamBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="2147483647">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="Server.WindTurbineService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000/WindTurbine"/>
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="netTcpBinding"
						  bindingConfiguration="WindTurbineStreamBinding"
						  contract="Common.IWindTurbineService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>