<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Server.WindTurbineService">
				<endpoint address="net.tcp://localhost:4000/WindTurbine"
						  binding="netTcpBinding"
						  contract="Common.IWindTurbineService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>