<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost:4000/WindTurbine"
					  binding="netTcpBinding"
					  contract="Common.IWindTurbineService"
					  name="WindTurbineEndpoint" />
		</client>
	</system.serviceModel>
</configuration>